/* #000502
#448086
#037a84
#dbfeec */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

body {
  max-width: 750px;
  margin: auto;
}

#heading {
  border-radius: 20px 20px 0px 0px;
  background-color: #448086;
  text-align: center;
}

#heading h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 52px;
  color: #000502;
  margin-bottom: 10px;
}


#addTask {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #037a84;
  background-color: #dbfeec;
  color: #000502;
  padding: 4px;
  width: 70%;
}

.addBtn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #dbfeec;
  padding: 4px;
  width: 20%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

#todoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#todoList li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;

  /* make the list items unselectable 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

#todoList li:nth-child(odd) {
  background: #f9f9f9;
}

#todoList li:hover {
  background: #ddd;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #000;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li.checked {
  text-decoration: line-through;
}

#todoList li.checked {

}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
